@import "fonts/Futura/stylesheet.css";
body {
  margin: 0;
  padding: 0;

  max-width: 100%;
  width: 100%;
  min-height: 100%;

  font-family: "FuturaBookC";
  font-size: 16px;
  letter-spacing: 0;
  color: #252525;

  display: flex;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root > main {
  height: 100%;
}

* {
  box-sizing: border-box;
}
