.calendarSmall {
  grid-area: content;
  text-align: center;
  align-items: center;
  padding: 25px 0 0 0;
  margin: 0;
  min-width: 270px;
}

hr {
  text-align: center !important;
  margin: 10px 4% 1rem 4%;
  width: 92%;
  padding: 0;
}

.headingMonth {
  padding-top: 1em;
  font-size: 25px;
}

.calendar {
  padding: 1.2em 0 0.25em 0;
}

.calendarHeader,
.calendarWeek {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(7, 1fr);
}
